*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

:root{
    --sidebar: #000000;
    --header: #080B12;
    --main: #141922;
    --accent: #ADFF2F;
    --footer: #282828;
    --grey: #A3A3A3;
}

body{
    height: 100%;
}

.sidebar{
    background-color: red;
    height: 100%;
    width: 50px;
}

.col-2{
    width: calc(100% / 12 * 2);
    width: 180px;
    text-align: center;
    padding-bottom: 0.75rem;
}

.circle-2{
    width: calc(100% / 12 * 2);
    width: 180px;
    border-radius: 100%;
}

.flex-container{
    display: flex;
    justify-content: flex-start;
    height: calc(100vh - 90px);
    overflow-y: auto;
}

.top{
    background-color: var(--header);
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    #upgrade{
        padding: 0.75rem 2rem 0.75rem;
        margin: 1rem;
        border-radius: 25px;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        font-size: 10px;
        font-weight: 700;
        &:hover{
            background-color: white;
            color: var(--header);
        }
    }
}

.titles-top{
    &:hover{
        border-bottom: 2px solid var(--accent);
    }
    :after
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: auto;
    width: 220px;
    height: 100%;
    padding: 1.5rem;
    gap: 1rem;
    background-color: var(--sidebar);
    .logo{
        max-width: 200px;
        padding-bottom: 1rem;
    }
    .logo-small{
        display: none;
    }
}

.menu-sidebar{
    gap: 0.5rem;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    .home{
        color: white;
    }
    .search{
        color: var(--grey);
    }
    .library{
        color: var(--grey);
    }
}

.name-playlist{
    padding-top: 1rem;
}

.playlist-name{
    padding-bottom: 0.75rem;
    font-size: 12px;
}

.bottom-sidebar{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 12px;
    color: var(--grey);
    .install-menu{
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        #download{
           width: 16px; 
        }
    }
    hr{
        margin-bottom: 1rem;
        margin-top: 1rem;
        border: 1px solid var(--grey);
    }
    .user-menu{
        display: flex;
        align-items: center;
        column-gap: 1rem;
        color: white;
        #icon-user{
            max-width: 30px;
            border: 1px solid var(--grey);
            background-color: var(--grey);
            border-radius: 100%;
        }
    }
}

h3{
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 14px;
}

.create{
    font-weight: 600;
    color: var(--grey);
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}

.create-playlist{
    font-size: 13px;
}

.fa-plus{
    font-weight: 900;
    font-size: 24px;
    border: 1px solid grey;
    background-color: grey;
    color: #000000;
    padding: 0.5rem 0.75rem 0.5rem;
    margin-right: 0.5rem;
}

li{
    list-style: none;
    padding-bottom: 0.5rem;
    font-weight: 600;
    color: var(--grey);
}

main{
    width: calc(100% - 220px);
    height: 100%;
    padding-bottom: 1rem;
    background-color: var(--main);
    overflow-y: auto;
    .top-titles{
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1.25rem  0 0;
        color: var(--grey);
        font-weight: 600;
        font-size: 12px;
    }
}

h2{
    padding-left: 2rem;
    padding-top: 1.5rem;
    color: white;
}

p{
    padding-left: 2rem;
    padding-top: 0.5rem;
    color: var(--grey);
    font-size: 12px;
    font-weight: 600;
}

.row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1.5rem 2rem 1rem;
    gap: 1rem;
}

img{
    max-width: 100%;
}

h5{
    text-align: center;
    color: var(--grey);
    font-size: 10px;
}

footer{
    min-height: 90px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem 1rem;
    position: fixed;
    background-color: var(--footer);
    color: var(--grey);
    .menu-sx{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .name{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 1rem;
            font-size: 12px;
            h4{
                color: white;
            }
        }
        .icons{
            padding-left: 2rem;
            .fa-heart{
                padding-right: 0.5rem;
            }
        }
    }
    .menu-cn-up{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        color: white;
        padding-bottom: 0.5rem;
        .fa-circle-play{
            font-size: 30px;
        }
    }
    .menu-cn-bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        gap: 2rem;
        color: white;
        font-size: 9px;
        #progress{
            width: 300px;
        }
    }
    .menu-dx{
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        color: white;
        font-size: 12px;
        .fa-ellipsis-vertical{
            display: none;
        }
    }
}









/******* Responsive solution *******/

/* M */

@media screen and (min-width: 878px){
    .col-2{
        width: 135px;
    }
    .logo{
        width: 80%;
    }
    .album-titles{
        font-size: 12px;
        padding-top: 0.75rem;
    }
    .top{
        padding: 2rem 0.25rem 2rem;
    }
    .top-titles{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav{
        padding-bottom: 0.75rem;
    }
    .top-sidebar{
        li{
            display: flex;
            justify-content: flex-start;
            padding-bottom: 0;
            gap: 0.5rem;
        }
        .home{
            display: flex;
            align-items: center;
        }
        .search{
            display: flex;
            align-items: center;
        }
        .library{
            display: flex;
            align-items: center;
        }
        .create{
            display: flex;
            align-items: center;
        }
        .name-playlist{
            padding-top: 0.5rem;
        }
        .list-playlist{
            .fa-plus{
                padding: 6px;
                font-size: ;
            }
            .playlist-name{
                padding-bottom: 0.5rem;
                font-size: 10px;
            }
        }
        .playlist{
            padding-top: 1rem;
        }
        .create{
            padding-top: 0.5rem;
        }
    }
    .bottom-sidebar{
        .fa-arrow-down{
        }
        hr{
            margin: 0.75rem 0 0.75rem ;
        }
    }
    footer{
        padding: 0.75rem;
        .menu-cn{
            .menu-cn-bottom{
                #progress{
                    width: 250px;
                }
            }
        }
        .menu-dx{
            gap: 0.75rem;
            #progress2{
                width: 70px;
            }
        }
    }
}

/* S */

@media screen and (max-width: 600px){
    body{
        min-width: auto;
    }
    .col-2{
        width: 170px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow-y: auto;
        width: 180px;
        height: 100%;
        padding: 1rem;
        gap: 1rem;
        background-color: var(--sidebar);
        .logo{
            width: 100px;
            padding-bottom: 1rem;
        }
        .top-sidebar{
            .menu-sidebar{
                padding-bottom: 1rem;
            }
            li{
                display: flex;
                justify-content: flex-start;
                padding-bottom: 0;
            }
            .home{
                display: flex;
                align-items: center;
                padding-right: 0.5rem;
            }
            .search{
                display: flex;
                align-items: center;
                padding-right: 0.5rem;
            }
            .library{
                display: flex;
                align-items: center;
                padding-right: 0.5rem;
            }
            .fa-plus{
                padding: 2px 4px;
                margin-right: 0.25rem;
            }
            .playlist-name{
                padding-bottom: 0.5rem;
            }
        }
        .bottom-sidebar{
            padding-bottom: 0;
            hr{
                margin: 0.5rem 0 0.75rem;
            }
            #icon-user{
                width: 20px;
            }
        }
    }
    main{
        width: calc(100% - 180px);
        .top{
            padding: 1rem 0.25rem 1rem;
            height: 10%;
            #upgrade{
            padding: 0.5rem 1rem 0.5rem;
                #upgrade-label{
                    font-size: 8px;
                }
            }
        }

        .album-titles{
            font-size: 12px;
            padding-top: 0.75rem;
        }
    }
    .top-titles{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .playlist{
        padding-top: 2rem;
        font-size: 12px;
    }
    footer{
        padding: 0.5rem;        
    }
    h5{
        text-align: left;
        font-size: 8px;
    }
    .menu-cn-up{
        font-size: 12px;
        display: flex;
        justify-content: center;
    }
    footer{
        .menu-cn-bottom{
            gap: 1rem;
            #progress{
            width: 150px;
            }
        }
        .menu-dx{
            gap: 0.5rem;
            #progress2{
                width: 40px;
            }
        }
    }
    .album-sub{
        text-align: center;
    }
    .menu-sidebar{
        font-size: 10px;
    }
    .bottom-sidebar{
        font-size: 10px;
    }
    .name-playlist{
        font-size: 8px;
        padding-top: 0.5rem;
        .playlist-name{
            font-size: 10px;
            padding-bottom: 0.25rem;
        }
    }
    .playlist{
        padding-top: 0.75rem;
        padding-bottom: 0;
    }
    .create{
        padding-top: 0.5rem;
    }
    .create-playlist{
        padding-top: 0.25rem;
    }
    .icons{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    hr{
        margin: 0;
    }
}

/* XS */

@media screen and (max-width: 480px){
    .col-2{
        width: 160px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        vertical-align: middle;
        overflow-y: auto;
        width: 50px;
        height: 100%;
        padding: 0.75rem;
        gap: 1rem;
        background-color: var(--sidebar);
        .top-sidebar{
            .logo{
                display: none;
            }
            .logo-small{
                display: block;
                width: 30px;

            }
            .menu-sidebar{
                text-align: center;
                padding-top: 1rem;
                .home{
                    display: none;
                }
                .fa-house{
                    font-size: 20px;
                    margin: 0;
                    padding: 0 0 0.5rem;
                }
                .search{
                    display: none;
                }
                .fa-magnifying-glass{
                    font-size: 20px;
                    margin: 0;
                    padding: 0 0 0.5rem;
                }
                .library{
                    display: none;
                }
                .fa-bookmark{
                    font-size: 20px;
                    margin: 0;
                    padding: 0 0 0.5rem;
                    text-align: center;
                }
            }
            .list-playlist{
                display: none;
            }
        }
        .bottom-sidebar{
            #install{
                display: none;
            }
            .fa-arrow-down{
                margin: 0;
                display: flex;
                justify-content: center;
                padding: 0.5rem;
            }
            hr{
                display: none;
            }
            .fa-user{
                margin: 1rem 0 0.25rem;
                padding: 0.25rem;
            }
            .user{
                display: none;
            }
        }
    }
    main{
        width: calc(100% - 50px);
        .album-titles{
            font-size: 12px;
            padding-top: 0.75rem;
        }
        .top{
            padding: 0.5rem 0.25rem 0.5rem;
            height: 8%;
                #upgrade{
                padding: 0.75rem 2rem 0.75rem;
                    #upgrade-label{
                        font-size: 10px;
                    }
                }
        }
    }
    .top-titles{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h5{
        text-align: left;
        font-size: 8px;
    }
    .album-sub{
        text-align: center;
    }
    footer{
        padding: 0 1rem 0;
        .menu-sx{
            .name{
                padding-left: 0.5rem;
            }
            .icons{
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                padding: 0.75rem;
            }
        }
        .menu-cn{
            .menu-cn-up{
                display: flex;
                justify-content: center;
                column-gap: 1.5rem;
            }
            .menu-cn-bottom{
                display: flex;
                justify-content: center;
                column-gap: 1.5rem;
            }
        }
        .menu-dx{
            .fa-ellipsis-vertical{
                display: block;
            }
            .fa-list{
                display: none;
            }
            .fa-desktop{
                display: none;
            }
            .fa-volume-high{
                display: none;
            }
            #progress2{
                display: none;
            }
        }
    }
}

due div sovrapposti le progress bar