*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

:root{
    --sidebar: #000000;
    --header: #080B12;
    --main: #141922;
    --accent: #ADFF2F;
    --footer: #282828;
    --grey: #A3A3A3;
}

.sidebar{
    background-color: red;
    height: 100%;
    width: 20%;
}

main{
    background-color: aquamarine;
}

.col-2{
    width: calc(100% / 12 * 2);
}



.debug{
    nav{
      background-color: green;
    }
    main{
      background-color: blue;
    }
    footer{
      background-color: red;
    }
}



.flex-container{
    display: flex;
    justify-content: space-between;
    height: 800px;
}

.top{
    background-color: #cfcfcf;
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    #upgrade{
        padding: 0.5rem;
    }
}

nav{
    width: 30%;
    padding: 1rem;
}

main{
    width: 70%;
}

footer{
    min-height: 100px;
}









/******* Responsive solution *******/

/* Tablet */

@media screen and (min-width: 768px){

}

/* Smartphone */

@media screen and (min-width: 480px){

}